<nav class="navbar fixed-bottom navbar-light bg-light px-3">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <p>
        <%= current_year %> | Andrei Abramovsky | <%= github_url('andreiabramovsky', 'testGuru') %>
      </p>
      <p>Учебный проект по курсу "Основы Ruby on Rails"</p>
      <p>Веб-приложение для викторин и тестов.</p>
      <%= link_to 'Онлайн-школа Thinknetica', 'http://thinknetica.com/', target: :blank, 'rel': 'no-follow' %>
    </li>
  </ul>
</nav>
